.divInputsNovaSenha{
    display: flex;
    flex-direction: column;
    width: 60%;
}

@media(max-width:760px){
    
    .divInputsNovaSenha {
        width: 100%;
    }

    .divInputsNovaSenha > label > input{
        width: 100%;
    }
    
}