.containerDeslogado{
  min-height: 78vh;
  display: flex;
  align-items: center;
  flex-direction: column;   
  text-align: center;
  color: rgb(44, 43, 43);
  background-color: rgb(238, 238, 238);
  min-width: 100vw;
}

.tituloDeslogado{
    margin-top: 50px;
    
}

.tituloTotalDeslogado{
    font-size: 2rem;
}
.ContainerMeioHomeDeslogado{

    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    margin-top: 40px;

}

.ContainerMeioHomeDeslogado > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;

}


.imagemLogin{
    width: 200px;
    height: 200px;
}

.textoDeslogado{
    font-size: 1.5rem;
    
}

.textoDeslogado:hover{
    text-decoration: none;
}

@media(max-width:755px){
    .containerDeslogado
    {
        background-color: white;
        min-height: 82vh;
    }

    .tituloTotalDeslogado{
        font-size: 1.2rem;
    }


    .subtituloTotalDeslogado{
        font-size: 0.9rem;
    }

    .ContainerMeioHomeDeslogado {
         margin-top: 0px;
        flex-direction: column;
    }

    .ContainerMeioHomeDeslogado > div > h3 {
        font-size: 1rem;
    }
    
    .ContainerMeioHomeDeslogado > div {
        justify-content: space-between;
        height: 30vh;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .imagemLogin{
        width: 130px;
        height: 100px;
    }

    .textoDeslogado {
        font-size: 1rem;
    }


}