.containerTotalDeslogado{ 
    min-height: 78vh;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

@media(max-width:760px){
    .containerTotalDeslogado{
        min-height: 82vh;
        width: 100vw;
    }
}