.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c4eb3;
    height: 10vh;
    width: 100%;
    position: relative;
}
@media(max-width:763px){
    .footer{
        height: 9vh;
        width: 100vw;
    }

    .footer > div > h5{
        font-size: 0.9rem;
    }


}