
.contMeioCadastrar{
    height: 75vh;
    box-shadow: 1px 1px 20px   #c7c4c4;
    width: 50vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: black;
    background-color: white;
}

.contMeioCadastrar > h1 {
    font-weight: 500;
}

.loginInputNome{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.loginInputSenha{
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.loginInput{
    width: 70%;
    height: 33px;
}

.loginInput > input {
    height: 33px;
}

.inputSenhaLogin{
    height: 33px;
}

@media(max-width:760px){

    .contMeioCadastrar{
        width: 90vw;
        height: 70vh;
        background-color: white;
        box-shadow: none;
    }

    .contMeioCadastrar > h1 {
        font-size: 2rem;
        font-weight: normal;
    }

    .loginInput{
        height: 100%;
        width: 90%;
    }

    .loginInput > input {
        width: 100%;

    }

    .loginInputSenha{
        width: 90%;
        flex-direction: column;
        height: 21vh;
    }
}

