.procurarContaContainer{
    min-height: 78vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    justify-content: center;
}

.divInputProcurarConta{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;


}


.divBtnsProcurarConta{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media(max-width:760px){

    .procurarContaContainer{
        min-height: 82vh;
    }

    .divBtnsProcurarConta{
        width: 90%;
    }

    .divInputProcurarConta > label  {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .divInputProcurarConta > label > input {
        width: 85%;
    }
}