.containerAlterar{
    height: 88vh;
    background-color : #020a1a;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color : whitesmoke;

}
.containerCentralAlterar{
    height: 80vh;
    width: 50%;
    background-color : #031538;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
}

.inputsAlterar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    color: white;
    width: 100%;
    font-size: 20px;
}
.btn-success{
    width: 100px;
    font-size: 18px;
}
