.containerAlterar{
    height: 88vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color : whitesmoke;

}
.containerCentralAlterar{
    height: 80vh;
    width: 50%;
    background-color : #1c4eb3;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
}

.inputsAlterar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    color: white;
    width: 100%;
    font-size: 1rem;
}

.inputsAlterar > input, .inputsAlterar > select {
    width: 40%;
    height: 110%;
    display: inline-flex;
}

.btn-success{
    width: 100px;
    font-size: 1rem;
}
