.HomeLogadoDiv {

    background-color: white;
    min-height: 78vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.ContainerHomeLogado{
    text-align: center;
}

.tituloLogado{
    margin-top: 50px;
}

.containerLogadoMeio{
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-top: 40px;

}

.containerLogadoMeio > div {
    width: 50%;
    height: 30vh;

}

.backgroundDoHomeLogado{
    margin-top: 50px;
    height: 24vh;
}

.backgroundDoHomeLogado > img {
    width: 100%;
    height: 100%;
}

@media(max-width:755px){
    .HomeLogadoDiv{
        min-height: 82vh;
       
    }

    .tituloLogado{
        font-size: 1.3rem;
    }

    .containerLogadoMeio{
        flex-direction: column;
        margin-top: 10px;
    }

    .containerLogadoMeio > div {
        width: 100%;

        margin-bottom: 20px;
       
    }

    .linkLogado
    {
        font-size: 1.2rem;
    }

    .backgroundDoHomeLogado {
        height: 13vh;
    }
}