.ContainerTotalLogin{
    min-height: 78vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    justify-content: center;
}

.loginCont{
    height: 65vh;
    box-shadow: 1px 1px 20px   #c7c4c4;
    width: 36%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    color: black;
    justify-content: space-around;
    background-color: white;
}

.loginCont > h1 {
    font-weight: 500;
}

.inputLogin{
    margin-top: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    margin-top: 1%;
}

.inputLogin > label {
    font-size: 1.1rem;
}

.inputSenhaLogin, .inputEmailLogin {
    width: 100%;
    height: 33px;
}

.irParaTelaDeCadastrar{
    text-align: center;
}

.linkToCad {
    color: gold;
}

.linkToCad:hover {
   color: black;
}

@media(max-width:930px) {
.ContainerTotalLogin{
    height: 82vh;
}

.loginCont{
    width: 100%;
    background-color: white;
    box-shadow: none;
}

}