.containerCadastrar{
    background-color : whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 78vh;
    min-width: 100vw;
}
.containerCentroCadastrar{
    display: flex;
    align-items: center;
    height: 80%;
    box-shadow: 1px 1px 20px   #c7c4c4;
    width: 75%;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;

}
.tituloCadastrar{
    margin-top: 15px;
    color: black;
}
span{
    color: black;
    font-weight: bold;
}
.inputsCadastrar{
    width: 100%;
    align-items: center;
    height: 7%;
    font-size:18px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.inputsCadastrar > input, .inputsCadastrar > select {
    width: 40%;
    height: 110%;
    display: inline-flex;
}



.btn-primary{
    width: 150px;
}


@media(max-width:1000px) {
    .containerCadastrar {
        min-height: 82vh;
        color: black;
    }
    .containerCentroCadastrar {
        width: 95vw;
        background-color: white;
        color: black;
    }
    .form-control {
        width: 70%;
    }
    .tituloCadastrar {
        font-size: 25px;
        color: black;
    }
    .inputsCadastrar{
        color: black;
    }

    .inputsCadastrar > input, .inputsCadastrar > select {
        width: 70%;
    }

    .inputFile{
        width: 20%;
    }
}




