.containerInserirCodigo{
    min-height: 78vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    justify-content: center; 
}


   .inputInserirCodigo{
       width: 60%;
   }
   .inputInserirCodigo > label {
       width: 100%;
   }

   .inputInserirCodigo > label > input {
       width: 100%;
   }

.pReenviarCodigo{
    cursor: pointer;
    color: blue;
}

.pReenviarCodigo:hover{
    color: black;
}


@media(max-width:760px){

   .containerInserirCodigo{
       min-height: 82vh;
   }

   .inputInserirCodigo{
       width: 100%;
   }

}